[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8-bugbear = "*"
ipython = "*"
ipdb = "*"
pytest = "*"
codecov = "*"
pytest-cov = "*"
pytest-mock = "*"
tox = "*"
coverage = "*"

[packages]
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
